*{
	margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 2000px;
    background: url(../images/index_bg.png) left top no-repeat;
    background-size: 100% 100%;
    display: flex; 
    flex-flow: row nowrap;/* 弹性布局 从左到右*/
    justify-content: center;
    outline: none;
}
.box-left {
    width: 26%;
    height: 100%;
    border-right: 1px solid #226DDD;
}
.box-center {
    width: 48%;
    height: 100%;
 
}
.box-right {
    width: 26%;
    height: 100%;
    border-left: 1px solid #226DDD;
}
.tooltip{
    position: absolute;
    width: 120px;
    height: auto;
    pointer-events: none; 
    border-radius:5px;
    
    background-color:rgba(0,0,0,0.3);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 20;
}
/* 左边CSS*/
.box-china{
    width: 90%;
    height: 140px;
    margin: auto;
    background: url(../images/border_bg01.png) top left no-repeat;
    background-size: 100% 100%;
}
.box-china>.title{
    height: 40px;
    background: url(../images/title_bg01.png) center center no-repeat;
    text-align: center;
    padding-top: 20px;
    color: #226DDD;

}
.box-china p{
    font-size: 40px;
    text-align: center;
    color: white;
}
.box-radar>.title{
    width: 96%;
    height: 40px;
    line-height: 40px;
    background: url(../images/box_title.png) top left no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin: auto;   
    margin-top: 10px;
    color: white;
}
.china-radar{
    margin: 10px 0 0 10px;
}
.box-linechart>.title{
    width: 96%;
    height: 40px;
    line-height: 40px;
    background: url(../images/box_title.png) top left no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin: auto;   
    color: white;
}
.line-chart{
    margin: 10px 0px 0px 0px;
}
.line-chart text,.line-chart path{
    stroke: white;
}
.line-chart line{
    stroke: white;
}

/* 中间边CSS*/
.box-center>.sys-title{
    width: 100%;
    height: 60px;
    background: url(../images/title_border.png) bottom center no-repeat;
}
.box-center .title{
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-weight: 900;
}
.global-map{
    position: relative;
}
.mapcolortip{
    width: 120px;
    height: 20px;
    background-image: linear-gradient(90deg,rgb(0,255,255),rgb(255,170,0));
    left: 20px;
    bottom: 26px;
    position: absolute;
}
.global-map .color-tip{
    left: 32px;
    bottom: 0px;
    position: absolute;
    color: white;
    font-size: 10px;
    font-weight: 20;
    text-align: center;
    letter-spacing: 2px;
}
.svg-scatter text,.svg-scatter path{
    stroke: white;
}
.svg-scatter line{
    stroke: white;
}
/* 右边CSS*/
.box-pie>.title{
    width: 96%;
    height: 40px;
    line-height: 40px;
    background: url(../images/box_title.png) top left no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin: auto;   
    margin-top: 10px;
    color: white;
}
.pie{
    margin:  auto;
    margin-top: 20px;
    display:  block;
}
.box-bar>.title{
    width: 96%;
    height: 40px;
    line-height: 40px;
    background: url(../images/box_title.png) top left no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin: auto;   
    margin-top: 20px;
    color: white;
}
.bar-chart path{
    stroke: white;
}
.bar-chart line{
    stroke: white;
}
.piecolortip{
    margin: 20px 0 0 20px;
}

