*{
	margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 600px;
    background: url(../images/index_bg.png) left top no-repeat;
    background-size: 100% 100%;
    display: flex; 
    flex-flow: row nowrap;/* 弹性布局 从左到右*/
    justify-content: center;
    outline: none;
}
.box-left {
    width: 26%;
    height: 100%;
    border-right: 1px solid #226DDD;
}
.box-center {
    width: 48%;
    height: 100%;
 
}
.box-right {
    width: 26%;
    height: 100%;
    border-left: 1px solid #226DDD;
}
.box-china{
    width: 90%;
    height: 200px;
    margin: auto;
    background: url(../images/border_bg01.png) top left no-repeat;
    background-size: 100% 100%;
}
.box-china>.title{
    text-align: center;
    background: url(../images/title_bg01.png) center center no-repeat;
}